@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.title_info {
    font-family:"Montserrat", sans-serif;
    font-weight: 600;
    font-size: 16px;

}

.btn_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_next {
    margin-top: 22vh;
    width: 343px;
    height: 48px;
    background-color: #0F8BA0;
}

